html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    background-color: burlywood;
}
body {
    margin: 0;
}
footer {
    background-color: burlywood;
    padding: 24px;  
    display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  align-items: center;
  }
  header{
      padding: 24px;
      display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
  }
  .book-cover {
      width: 200px;
      height: auto;
      grid-row-start: 1;
      grid-row-end: span 5;
  }
  .main-page-book-review {
      background-color: white;
      border: 1px solid lightblue;
      padding: 24px;
    display: grid;
    column-gap: 24px;
    grid-template-columns: auto 1fr;
  }
  main {
      max-width: 800px;
      margin: auto;
  }
  .book-rating {
      font-size: 125%;
  }
  .book-authors {
      color: dimgray;
  }